/* Front page */

.home {
  .hero-image-banner {
    height: 100vh;
    background: url("../../images/inhabitent-logo-full.svg") no-repeat center, linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../images/home-hero.jpg") no-repeat center top;
    background-size: 275px, cover, 100%;
    margin-bottom: 2.5rem;
  }

  h2 {
    width: 100%;
    font-size: 2.4rem;
    font-weight: 100;
    margin-bottom: 3.75rem;
    text-align: center;
  }

  /********* Product area ******/

  .shopstuff-container {
    margin: 0 auto 4rem;
    width: 79%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    // h2 {
    //   width: 100%;

    //   margin-bottom: 3rem;
    // }

    .shop-stuff-item {
      width: 23.5%;
      border: $basic__border;
      border-top: 5px solid #e1e1e1;
      padding: 0.75rem 0.75rem 1.75rem;
      text-align: center;
      line-height: 1.7rem;

      &:hover {
        border: 1px solid $color__orange-brand;
        border-top: 5px solid $color__orange-brand;
      }

      .product-icon-image {
        width: 70px;
        margin: 0 auto;
      }

      .button-link {
        @include green-button;

        color: white;
        text-decoration: none;
        padding: 0.8rem $base__space-unit;
      }
    }
  }

  /********* Blog area ****/

  .front-page-posts-wrapper {
    margin: 3rem auto;
    width: 79%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;

    article:nth-child(2) {
      border-right: 0;
    }

    article:nth-child(3) {
      border-right: 0;
      border-left: 1rem solid white;
    }

    article {
      width: 33%;
      min-height: 300px;
      border-right: 1rem solid white;

      .entry-header {
        border: $basic__border;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        img {
          max-height: 240px;
          border-bottom: 4px solid #E1E1E1;
          order: 0;
        }
      }

      .entry-title {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 0.75rem;
        padding-right: 1.5rem;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        order: 2;

        a {
          font-size: 1.3rem;
          line-height: 1.75rem;
          text-align: left;
          text-decoration: none;
          color: $color__green-brand;
          display: flex;

          &:hover {
            color: $color__purple-brand;
          }
        }
      }

      .entry-meta {
        margin-top: 0.75rem;
        margin-left: 0.75rem;
        order: 1;
        font-size: 0.8rem;
      }

      .read-more-button {
        margin-left: 0.75rem;
        margin-bottom: 0.75rem;
        padding: 0.67rem 1rem 0rem;
        order: 4;
      }
    }
  }
}

/********* Adventures area ****/

.front-page-adventures-container {
  height: 540px;
  width: 79%;
  margin: 2rem auto 7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .more-adventures-button {
    @include green-button;

    width: auto;
    margin: 1.75rem 0;
    padding: 0.55rem $base__space-unit 2.25rem;
    font-size: 1.15rem;
    font-weight: 100;
    color: white;
  }

  article.adventures.type-adventures:nth-child(1) {
    border-right: $front-page-adventures-border;

    .adventure-image-wrapper img {
      height: 625px;
      transform: translateY(-10%);
    }

    .adventure-title {
      margin-top: 1.25rem;
      margin-bottom: 3rem;
      font-size: 3.05rem;
      line-height: 3.75rem;
      transform: translateY(2%);
    }
  }

  article.adventures.type-adventures:nth-child(2) {
    height: 50%;
    border-bottom: $front-page-adventures-border;

    .adventure-image-wrapper img {
      height: 430px;
      transform: translateY(-31.5%);
    }

    .adventure-entry-meta .adventure-title {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: $sub-header-font-size;
      line-height: 3.15rem;
    }
  }

  article.adventures.type-adventures:nth-child(3) {
    border-right: $front-page-adventures-border; 

    .adventure-image-wrapper img {
      height: 430px;
      transform: translateY(-28%);
    }

    .adventure-entry-meta .adventure-title {
      margin-bottom: 2.5rem;
      font-size: 1.5rem;
      line-height: 1.9rem;
      transform: translateY(9%);
    }
  }

  article.adventures.type-adventures:nth-child(4) {

    .adventure-image-wrapper img {
      height: 420px;
      transform: translateY(-27%);
    }

    .adventure-entry-meta .adventure-title {
      margin-bottom: 2.5rem;
      font-size: 1.7rem;
      line-height: 1.75rem;
      transform: translateY(15%);
    }  
  }

  article.adventures:nth-child(3), article.adventures:nth-child(4) {
    height: 50%;
    width: 25%;
    position: relative;
    bottom: 54.5%;
    left: 50%; 
  }

  article {
    box-sizing: border-box;
    height: 100%;
    width: 50%;

    .entry-header {
      max-height: 100%;
      overflow: hidden;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      position: relative;


      .adventure-image-wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        overflow: hidden;

          &::before {
            content: "";
            min-height: 100%;
            min-width: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }

        img {
          width: auto;
          max-width: none;
        }
      }

      .adventure-entry-meta {
        position: absolute;
        top: 5%;
        left: $base__space-unit;
        z-index: 1000;

        a {
          text-decoration: none;

          .adventure-title {
            max-width: 95%;
            font-family: 'merriweather', Arial, serif;
            font-weight: 300;
            color: white;
            text-decoration: none;
            text-transform: none;
            letter-spacing: 2px;

            &:hover {
              color: $color__yelow-brand;
              cursor: pointer;
            }
          } 
        }
        .adventure-button {
          @include transparent-button(#FFF);
          padding: 0.8rem $base__space-unit;
        }
      }
    }
  }
}