// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: $sizeValue * 16 * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Headings 

@mixin front-page-h2($margin-bottom: 3.75rem) {
    width: 100%;
    font-size: $sub-header-font-size;
    font-weight: 100;
    margin-bottom: $margin-bottom;
    text-align: center;
}

//Form styles

@mixin form-styles {
  color: #666;
  border: $form-input-border;
  border-radius: 3px;
  background-color: #F4F4F4;

  &:focus {
    color: #111;
  }
}

//Buttons

@mixin transparent-button($font-color) {
  font-family: 'novocento', Arial, serif;

  @include font-size(0.85);

  width: auto;
  height: 40px;
  padding: 0.25rem $base__space-unit;
  border: 1px solid $font-color;
  border-radius: 0;
  box-shadow: none;
  background: none;
  color: $font-color;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.25px;

  &:hover {
    border: 1px solid $color__green-brand;
    background-color: $color__green-brand;
    cursor: pointer;
  }

  &:active,
  &:focus {
    border: 1px solid $color__green-brand;
  }
}

@mixin green-button {
  font-family: novocento,Arial,serif;
  font-size: 13.6px;
  font-size: .85rem;
  font-weight: 100;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  margin-bottom: 4rem;
  border: none;
  border-radius: 0;
  background: $color__green-brand;
  color: #000;
  line-height: 1.5;
  padding: .6rem 1rem .4rem 1.35rem;

  &:hover {
    background-color: $color__green-brand-hover;
    cursor: pointer;
  }

  &:active,
  &:focus {
    border: 1px solid $color__green-brand-hover;
    background-color: $color__green-brand-hover;
  }
}

@mixin blog-entry-meta($offsetx, $offsety) {
  height: auto;
  font-family: 'novocento', Arial, serif;
  font-size: 0.9rem;
  color: white;
  background-color: $color__green-brand;
  padding: 0.4rem $base__space-unit;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: $offsety;
  right: $offsetx;
}

@mixin blog-entry-title($offsetx: 10px, $offsety: 0px) {
  width: auto;
  max-width: 570px;
  height: auto;
  line-height: 2.5rem;
  color: white;
  background-color: $color__green-brand;
  padding: 0.75rem 2.25rem 0.75rem 1.5rem;
  position: absolute;
  top: $offsety;
  left: $offsetx;

  & a:hover {
    color: $color__yelow-brand;
    cursor: pointer;
  }

  & a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
  }
}