/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
    color: $color__purple-brand;
  }
}

/* Menus */

.site-header {
  width: 100%;
  height: 50px;
  padding-left: 10rem;
  padding-right: 8.75rem;
  border-bottom: $basic__border;
  position: fixed;
  z-index: 10000;
  background-color: rgba(256, 256, 256, 0.75);

  .site-branding {
    width: 45%;
    height: 100%;
    margin: 0;
    display: inline-block;

    p.site-description {
      display: none;
    }

    .header-logo-wrapper {
      width: 50px;
      height: 100%;
      background: url("../../images/inhabitent-logo-tent.svg") no-repeat center;
      background-size: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & a {
        height: 100%;
        width: 100%;
      }

       &:hover {
        cursor: pointer;
      }
    }
  }

  .main-navigation {
    font-size: 0.95rem;
    clear: both;
    float: right;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-menu-1-container {
      height: 100%;

      ul.menu {
        font-family: 'novocento', Arial, serif;
        font-weight: 100;
        text-transform: uppercase;
        height: 100%;
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        ul {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          float: left;
          position: absolute;
          top: $base__space-unit;
          left: -999rem;
          z-index: 99999;

          ul {
            left: -999rem;
            top: 0;
          }

          li {
            &:hover > ul,
            &.focus > ul {
              left: 100%;
            }
          }

          a {
            width: 200px;
          }

          /* 					:hover > a,
          					.focus > a {
          					}
          
          					a:hover,
          					a.focus {
          					} */
        }

        	/* 			li:hover > ul,
        				li.focus > ul {
        					left: auto;
        				}
         */
      }

      li {
        margin-left: 0.75rem;
        margin-right: 0.75rem;

        &:hover > a,
        &.focus > a {}
      }

      a {
        display: block;
        text-decoration: none;
        color: $color__green-brand;

        &:hover, &:focus {
          color: $color__purple-brand;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .current_page_item > a,
      .current-menu-item > a,
      .current_page_ancestor > a {}
    }

    .search-form {
      width: auto;
      display: inline-block;

      & fieldset {
        border: none;
        padding: 0;
        width: auto;

        & .search-submit {
          background: none;
          border: none;
          padding-right: 0;
          color: $color__green-brand;
          transform: translateY(-2px);

          & i {
            font-size: 1rem;
          }

          &:focus, &:active {
            outline: none;
          }
        }

        & .search-field {
          width: 0;
          height: 100%;
          background: none;
          border: none;
          outline: none;
          color: $color__yelow-brand;
          transition: width 0.55s ease;
        }

          ::-webkit-input-placeholder { /* WebKit browsers */
            color: $color__yelow-brand;
          }
          :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $color__yelow-brand;
          }
          ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $color__yelow-brand;
          }
          :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $color__yelow-brand;
          }

        & .search-field-expand {
          width: 190px;
        }
      }
    }
  }
}

.home, .page-template-about {
  .site-header {
    border-bottom: none;
    background: none;
    position: absolute;

    .header-logo-wrapper {
      background: url("../../images/inhabitent-logo-tent-white.svg") no-repeat center;
      background-size: 100%;
    }

    .header-logo-green {
      background: url("../../images/inhabitent-logo-tent.svg") no-repeat center;
      background-size: 100%;
    }

    & .header-logo, & .menu-item a, & .search-submit i {
      color: white;

      &:hover {
        color: $color__yelow-brand;
      }
    }
  }
  .white-and-green-menu {
    background-color: rgba(256, 256, 256, 0.75);
    border-bottom: $basic__border;
    color: $color__green-brand;
    position: fixed;

    & .menu li a {
      color: $color__green-brand;
    }
  }
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}