/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// 404 Error page

.error404 {
  font-size: 16px;

  .content-area {
    padding-bottom: 2.5rem;

    .site-main {
      padding-top: 1rem;

      .page-title {
        font-size: 2.4rem;
        letter-spacing: 1.5px;
      }

      .widgettitle {
        color: $color__purple-brand;
      }

      .search-form {
        margin-bottom: 2.5rem;

        fieldset {
          border: none;
          padding: 0;

          .search-submit {
            display: none;
            height: 0;
          }

          .search-field {
            background-color: #F4F4F4;
            height: 30px;
            text-transform: none;
          }
        }
      }

      .widget {
        margin-bottom: 3rem;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          line-height: 1.75rem;

          a {
            text-decoration: none;
            color: $color__green-brand;
          }
        }
      }

      .widget_archive p {
        margin-bottom: 0.75rem;
      }
    }
  }
}

// Find us page

.page-id-52 {
  .content-area {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}