/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Front page */

.hero-image-banner {
	height: 100vh;
	background: url("../../images/inhabitent-logo-full.svg") no-repeat center,
	  linear-gradient(
	  rgba(0,0,0, 0.25) 0%,
	  rgba(0,0,0, 0.25) 100%),
		url("../../images/home-hero.jpg") no-repeat center;
		background-size: 300px, cover, cover;

}


// Journal Page

body:not(.home):not(.page-template-about):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) .site-content{
	display: flex;
	margin: 0 auto;
	width: 1120px;
}

body:not(.home):not(.page-template-about):not(.single-adventure) .content-area, body:not(.home):not(.page-template-about):not(.single-adventure) .widget-area {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

body:not(.home):not(.page-template-about):not(.single-adventure) .content-area {
	width: 70%;
}

.entry-header img {
	width: 730px;
}
