// Shop archive page

.post-type-archive-products {
  .content-area {
    padding-top: 0;
    width: 100%;

    .page-header {
      margin: 2.5rem auto 2rem;

      h1.page-title {
        width: 400px;
        margin: 0 auto;
        font-size: $sub-header-font-size;
        display: flex;
        justify-content: center;
      }

      .shop-terms-container {
        width: 25%;
        margin: $base__space-unit auto 2.5rem;
        font-family: 'novocento', Arial, serif;
        font-size: 1.2rem;
        font-weight: 100;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: $color__green-brand;
        }
      }
    }
  }
}

.shop-content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  border-top: $dashed__border;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;

  article {
    height: 300px;
    width: 23%;
    border: $basic__border;

    .entry-header {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;

      .product-image-wrapper {
        width: 100%;
        border-bottom: 5px solid $color__grey-border;
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        img {
          height: 255px;
          width: auto;
          max-width: none;
          border-bottom: 5px solid #e1e1e1;
          position: relative;
          top: 50%;
          left: 0.5%;
        }
      }

      .product-entry-meta {
        height: 55px;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: baseline;
        position: relative;

        .ellipses {
          width: 75%;
          margin-top: 1.05rem;
          padding: 0 0.3rem;
          font-size: 0.85rem;
          position: absolute;
          z-index: -1;
          overflow: hidden;
        }

        p {
          padding: 0 0.15rem;
          font-size: 0.9rem;
          font-weight: 100;
          color: $color__text-main;
          background-color: white;
        }

        .entry-title {
          font-family: 'merriweather', Arial, serif;
          font-size: 1rem;
          font-weight: 100;
          letter-spacing: 0px;
          color: black;
          background-color: white;
          padding: 0 0.15rem;
          display: inline-block;
          text-transform: none;

          a {
            font-weight: 100;
            color: $color__text-main;
            height: 40px;
            font-family: 'merriweather', Arial, serif;
            font-size: 1.2rem;
            text-transform: none;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Single product page

.single-products {
  .site-content {
    width: 75%;
  }

  .content-area {
    width: 100%;

    .entry-header {
      width: 100%;
      display: flex;

      .product-image-wrapper {
        min-width: 48%;
      }

      .entry-meta {
        padding-left: 3rem;
        padding-bottom: 4rem;

        .entry-title {
          font-size: $sub-header-font-size;
          width: 50%;
          margin-top: 0;
          color: $color__orange-brand;
          display: inline;
        }

        .price {
          margin-top: 0.75rem;
          margin-bottom: 1.75rem;
          font-size: 1.5rem;
          font-family: novocento,Arial,serif;
          letter-spacing: 0.5px;
        }

        .entry-content {
          width: auto;
          margin-bottom: $base__space-unit;
          font-size: 1rem;
          line-height: 1.9rem;
        }
      }

      .social-buttons button {
        width: auto;
        padding: .25rem 1.5rem;
        border: 1px solid #666;
        color: #000;
        background-color: #fff;
        text-transform: uppercase;

        &:hover {
          color: white;
          background-color: $color__green-brand;
          border: $green-brand-border;
        }
      }
    }
  }
}

// Product type archive page

body.tax-product_type {
  & .site-content {
    width: 100%;

    & .content-area {
      width: 100%;

      & .page-header {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      & h1 {
        font-size: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1.75rem;
      }
    }
  }
}
