/* Front page */

.hero-image-banner {
	height: 100vh;
	background: url("../../images/inhabitent-logo-full.svg") no-repeat center,
	  linear-gradient(
	  rgba(0,0,0, 0.25) 0%,
	  rgba(0,0,0, 0.25) 100%),
		url("../../images/home-hero.jpg") no-repeat center;
		background-size: 300px, cover, cover;

}